.container
  background: #fff
  min-height: 100vh

.headerContainer
  background: #102f44
  display: flex
  justify-content: center
  padding: 0 1.5rem
  width: 100%

.headerContent
  align-items: center
  display: flex
  justify-content: space-between
  max-width: 990px
  width: 100%

.headerImage
  @media (min-width: 768px)
    transform: translateX(-20px)

.headerTitle
  color: #fff
  font-family: "Khula", sans-serif
  font-size: 1.5rem
  font-weight: 200
  letter-spacing: 5px
  line-height: 1.2
  margin: 0
  position: relative
  text-transform: uppercase

  span
    margin-left: 1rem
    opacity: .25
    text-shadow: none

  @media (min-width: 768px)
    font-size: 3rem
    letter-spacing: 10px

.main
  align-items: center
  color: #000
  display: flex
  flex-direction: column
  flex: 1
  justify-content: center
  padding: 0 1rem 4rem

.hero
  max-width: 990px
  padding: 2rem 0
  width: 100%

  @media (min-width: 768px)
    display: flex
    justify-content: space-between
    padding: 3rem 0

.sectionHeader
  color: rgba(0,0,0,0.5)
  font-family: "Open Sans"
  font-size: 12px
  font-weight: 400
  letter-spacing: 2px
  margin: 1rem 0
  text-transform: uppercase
  white-space: nowrap

.aboutSection
  flex: 1

  p
    font-family: "Raleway"
    font-size: 18px
    font-weight: 200
    line-height: 2
    margin: 0

    &:last-child
      margin-top: 1.5rem

    a, strong
      color: #e1a53b

.contactSection 
  margin-top: 2rem

  @media (min-width: 768px)
    flex-basis: 298px
    margin-left: 60px
    margin-top: 0

    .sectionHeader
      display: flex
      justify-content: center

.contact
  background: rgba(0, 0, 0, 0.1)
  border-radius: 10px
  color: rgba(0, 0, 0, .6)
  font-size: 14px
  line-height: 1.5
  padding: 1rem

.showcaseSection
  align-items: center
  display: flex
  flex-direction: column
  justify-content: center
  width: 100%

.grid
  display: grid
  max-width: 990px
  width: 100%
  grid-auto-rows: auto
  grid-gap: 2rem
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr))

  @media (min-width: 768px)
    grid-gap: 3rem

.clipHeader
  color: rgba(0, 0, 0, .6)
  font-size: 12px
  font-weight: 500
  margin-bottom: 6px
  padding-left: 4px

.clipFrame
  background: #000
  border-radius: 10px
  overflow: hidden
  position: relative

  iframe
    display: block
    min-height: 100%
    max-height: 200px
    min-width: 100%
    max-width: 200px

    @media (min-width: 768px)
      min-height: auto